@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Pretendard Variable', Pretendard, sans-serif;
  }
  html {
    max-width: 480px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #f8f8f8;
  }
  body {
    overflow-x: hidden;
  }
  body {
    -ms-overflow-style: none;
  }
  html,
  body,
  #root {
    height: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }
  input {
    border: none;
    :focus {
      outline: none;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    outline: none;
  }
  a:hover,
  a:active {
    text-decoration: none;
  }
  img {
    max-width: none;
  }
}
